<section class="genre-details">
  <div class="image">
    <%= main_image(@genre) %>
  </div>

  <div class="details">
    <h1><%= @genre.name %></h1>
    <p>
      <%= @genre.description %>
    </p>
  </div>
  <aside>
    <% if @movies.present? %>
      <h3>Movies:</h3>
      <ul>
        <% @movies.each do |movie| %>
          <li><%= link_to movie.title, movie %> &bull; <%= year_of(movie) %></li>
        <% end %>
      </ul>
    <% end %>
  </aside>
</section>

<% if current_user_admin? %>
  <section class="admin">
    <%= link_to "Edit Genre", edit_genre_path(@genre), class: "button" %>
    <%= link_to "Delete Genre", @genre, class: "button",
      data: { "turbo-method": :delete, "turbo-confirm": 'Are you sure?' } %>
  </section>
<% end %>
