- @movies.each do |movie|
  %section.movie
    .image
      = main_image(movie)
    .summary
      %h2
        = link_to movie.title, movie
      %h3
        = total_gross(movie)
      %span.stars
        = render "shared/stars", percent: movie.average_stars_as_percent
      %p
        = truncate(movie.description, length: 150, separator: ' ')
- if current_user_admin?
  %section.admin
    = link_to "Add New Movie", new_movie_path, class: "button"
