<section class="user">
  <h1><%= profile_image(@user) %> <%= @user.name %> (<%= @user.username %>)</h1>
  <h2><%= mail_to(@user.email) %></h2>
  <div class="actions">
    <%= link_to "Edit Account", edit_user_path(@user), class: "button edit" %>
    <%= link_to "Destroy Account", @user, class: "button delete", 
      data: { "turbo-method": :delete, "turbo-confirm": 'Are you sure?' } %>
  </div>
  <h3>Member Since</h3>
  <p>
    <%= @user.created_at.strftime("%B %Y") %>
  </p>
</section>