%h1
  Reviews for #{link_to @movie.title, @movie}
%ul.reviews
  - @reviews.each do |review|
    %li
      = render "shared/stars", percent: review.stars_as_percent
      %p
        = link_to review.user.name, review.user
        %span.date
          = time_ago_in_words(review.created_at)
          ago
      %p
        = review.comment
      - if current_user?(review.user) || current_user_admin?
        .actions
          = link_to "Delete Review", movie_review_path(@movie, review),                          |
            class: "button", data: { "turbo-method": :delete, "turbo-confirm": 'Are you sure?' } |
          = link_to "Edit Review", edit_movie_review_path(@movie, review), |
            class: "button"                                                |
